<p>body works!</p>

<div *ngFor="let topic of childTopicList ; let i = index">
	<div class="col-sm-4">
		<ul class="list-unstyled components">
			<li ><a href="#topic{{i}}" data-toggle="collapse" aria-expanded="false" class= "headingStyle">{{topic.topicName}}</a>
				<ul class="list-unstyled" id="topic{{i}}">
					<li *ngFor="let topicDetail of topic.topicDetail">
						<a href="javascript:void(0)" (click)="openMathDetail() ">{{topicDetail.topicDetailName}} </a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
