.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#FFFFFF;
	color: black;
	text-align: center;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 96%;
	background-color: black;
	height: 2px;
}

#line {
	float: left;
	width: 731px;
	height: 60px;
}