<div class="col-xs-3">
	<img class="img-responsive" src="./assets/images/studyaidlogo.png">
</div>
<div class="col-xs-8">
	<img class="img-responsive" src="./assets/images/header.png">
</div>
<div class="col-xs-1">
	<div class="row" *ngIf="null === userName">
		<a href="javascript:void(0)" (click)="openLoginPage()"> Login </a>
	</div>
	<div class="row" *ngIf="null !== userName">
		<br> {{userName}}
	</div>
	<div class="row" *ngIf="null !== userName">
		<a href="javascript:void(0)" (click)="signOut()"> Sign Out</a>
	</div>
</div>
