<!--  
<div id="image"></div>

<div *ngIf = "hideTextBox" >
	<input type="text" class="form-control" id="id_image" [(ngModel)]="imageLine" >
</div>
-->

<!-- <div *ngIf="!firstPage" class="col-sm-8"> -->
<!-- <div [hidden]="firstPage" class="col-sm-8"> -->
<input type="hidden" name="id_image"  id="id_image"  [(ngModel)]="imageLine" >
<div *ngIf="!firstPage" class="col-sm-8">
	<div class="control-group">
    	<span class="label label-info full-width">{{childTopic.topicDetailName}}</span>
	</div>

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div *ngIf="questionType === 'FRACTION'">
					<div *ngFor="let qLine of questionLines; let i = index">
						 <app-mathjax [inputMathJax]="qLine.questionLn"></app-mathjax>  
					</div>
					<div>
						<input type="text" name = "userInput" class="form-control" id="userInput" [(ngModel)]="userInput">
					</div>
				</div>
				<div *ngIf="questionType == 'RADIOTYPE'">
					<div *ngFor="let quLine of questionLines; let i = index">
						<span><label><app-mathjax [inputMathJax]="quLine.questionLn"></app-mathjax></label></span>
					</div>
					<div *ngFor="let aLine of answerLines let i = index">
						<input type="radio" name="optradio" [value]="aLine.answerLn" (change)="onSelectionChange(aLine.answerLn)"> <app-mathjax [inputMathJax]="aLine.answerLn"></app-mathjax>
					</div>
				</div>
				<div id = "mainimage" *ngIf="questionType == 'PIPLOT'">
					<div  id="image">
					</div>
					<div *ngFor="let quLine of questionLines; let i = index"><br>
						<span><label><app-mathjax [inputMathJax]="quLine.questionLn"></app-mathjax></label></span><br>
					</div>
					<div *ngIf= "isQuestionList()">
						<div class = "row" *ngFor="let qst of questionList; let i = index">
							<div class="col-sm-6"><span><label><app-mathjax [inputMathJax]="questionList[i].question"></app-mathjax></label></span></div>
							<div class="col-sm-4"><input type="text" name = "userInputs" class="form-control" id="userInputs" [(ngModel)]="userInputs[i]"></div>
							<div class="col-sm-2" ><span class={{questionList[i].lookAndFeel}} name="correctSpan">{{questionList[i].label}}</span></div>
						</div>
					</div>
					<div *ngIf= "!isQuestionList()">
						<input type="text" name = "userInput" class="form-control" id="userInput" [(ngModel)]="userInput">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="showAnswerPanel" class="row">
		<div class="panel panel-default {{borderColor}}">
			<div class="panel-body">
				<div class="col-sm-6" ><span> <app-mathjax [inputMathJax]="answer"></app-mathjax></span></div>
				<div *ngIf="correctAnswer" class="glyphicon glyphicon-ok col-sm-6" aria-hidden="true" style="color:green"></div>
				<div *ngIf="!correctAnswer" class="glyphicon glyphicon-remove col-sm-6" aria-hidden="true" style="color:red"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default noBorder">
			<button type="button" class="btn btn-primary" (click)="checkAnswer()">Check</button>
			<button type="button" class="btn btn-primary" (click)=" nextButtonOnClick()">Next</button>
		</div>
	</div>

</div>


<!-- <div *ngIf="!firstPage" class="col-sm-4"> -->
<div *ngIf="!firstPage" class="col-sm-4">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> Score</a> </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<span><label>Correct: {{score.correct}}</label></span><br>
					<span><label>Incorrect: {{score.wrong}}</label></span><br>
					<span><label>Total: {{score.total}}</label></span>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Hints</a> </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">Hints</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> Something Else</a> </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">Something Else</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="firstPage" class="col-sm-8">
	{{topic}}
</div>
<div *ngIf="firstPage" class="col-sm-4">
	<button type="button" class="btn btn-primary" (click)="nextButtonOnClick()">Start Practice</button><br>
	<br>
	<button type="button" class="btn btn-primary" (click)="startReview()">Start Review</button>
</div>
<div *ngIf="reviewPage" class="col-sm-8">
	<!-- <div *ngFor="let item of pagedItems">{{item.lessonBody}}</div> -->
	<div> {{pagedItems.lessonBody}}</div>

	<!-- pager -->
	<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
			<a (click)="setPage(page)">{{page}}</a>
		</li>
	</ul>
</div>