
<div class="row">

	<div class="col-sm-6" *ngIf="wantToRegister === false">

		<div class="form-group row">
			<label for="colFormLabelSm" class="col-sm-6">Login:</label>
		</div>
		<div class="form-group row">
			<label for="colFormLabelSm" class="col-sm-6">User Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control form-control-sm" id="id_userName" [(ngModel)]="userName">
			</div>
		</div>
		<div class="form-group row">
			<label for="colFormLabel" class="col-sm-6">Password</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="id_password1" [(ngModel)]="userPassword">
			</div>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary" (click)="userLogin()">Login</button>
		</div>
		<div class="form-group row">
			<a href="javascript:void(0)" (click)="newRegister()"> Register</a>
		</div>

	</div>
	


	<div class="col-sm-6" *ngIf="wantToRegister === true">
		<div class="form-group row">
			<label for="colFormLabelSm" class="col-sm-6">Register:</label>
		</div>
		<div class="form-group row">
			<label for="colFormLabelSm" class="col-sm-6">User Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control form-control-sm" id="userName" [(ngModel)]="userNameRegister">
			</div>
		</div>
		<div class="form-group row">
			<label for="colFormLabel" class="col-sm-6">Password</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="password2" [(ngModel)]="userPasswordRegister">
			</div>
		</div>
		<div class="form-group row">
			<label for="colFormLabel" class="col-sm-6">Re-enter Password</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="password3" [(ngModel)]="userPasswordRegister1">
			</div>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary" (click)=" userRegister()">Register</button>
		</div>

	</div>

	<div class="col-sm-6" *ngIf=" null !== msg">
		<label for="colFormLabelSm" class="col-sm-6">{{msg}}</label>
	</div>


</div>
