<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<app-header></app-header>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<app-sidenav (changeScreen)="changeToNewScreen($event)"
				(studentGrade)="setStudentGrade($event)"
				(displayBody)="displayChangeToBody($event)"> </app-sidenav>
		</div>
		<div class="col-sm-9"
			*ngIf="currentscreen =='<app-body></app-body>' ">
			<app-body (changeScreen)="changeToNewScreen($event)"
				(topicDetail)="displayTopic($event)" [childTopicList]="topicList">
			</app-body>
		</div>
		<div class="col-sm-9"
			*ngIf="currentscreen =='<app-mathdetail></app-mathdetail>' ">
			<app-mathdetail [childTopic]="parentTopic"
				[studentGradeinChild]="studentGrade"> </app-mathdetail>
		</div>
		<div class="col-sm-9"
			*ngIf="currentscreen =='<app-mathhistorydetail></app-mathhistorydetail>' ">
			<app-mathhistorydetail> </app-mathhistorydetail>
		</div>
		<div class="col-sm-9"
			*ngIf="currentscreen =='<app-login></app-login>' ">
			<app-login></app-login>
		</div>
		<div class="col-sm-9"
			*ngIf="currentscreen =='<app-contactus></app-contactus>' ">
			<app-contactus></app-contactus>
		</div>
	</div>
	<div class="row">
		<app-footer></app-footer>
	</div>
</div>